fastapi
uvicorn
python-dotenv
langchain
langchain-groq
langchain-community
langchain-core
langgraph
chromadb
beautifulsoup4
duckduckgo-search==6.0.0
httpx
pytest
requests
tiktoken
# Frontend libs
streamlit
graphviz
pandas
plotly